body{
    background-color: rgba(122, 47, 3, 0.178);
}
  
#callback {
    width: 300px;
    height: 150px;
    background-color: rgb(231, 215, 215);
    position: absolute;
    bottom: 30px;
    transform: translateX(-100%);
   }


.card {
    width: 300px;
    height: 450px;
    margin: 0 auto;
    position: relative;
    border: 1px solid #960019;
   }
 



.product, .description {
     width: 100%; 
     height: 100%;
     position: absolute; 
     left: 0; 
    top: 0;
     text-align: center;
    background-color: #fff;
    backface-visibility: hidden;
    transition: 1s;
}




.description {
    box-sizing: border-box;
    padding: 40px;
    transform: rotateY(180deg);
   }

card:hover .product {
    transform: rotateY(180deg);
   }
.card:hover .description {
    transform: rotateY(360deg); 
   }


   

.header{
    display: flex;
    justify-content: space-around;
    margin-top: 24px;
    margin-bottom: 200px;
}

.menu-list{
    display: flex;
    list-style-type: none;

}

.menu-item:not(:last-child){
    margin-right: 63px;
}

.menu-item a{
    text-decoration:none;
    color: #ff3c00;
}


.main-text{
    font-weight:500;
    font-size: 53px;
    line-height: 62px ;
}


.button-order{
    all: unset;
    background: #F6762C;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding: 22px 55px;
}

.main{
    max-width: 500px;
}
#callback {
    width: 300px;
    height: 150px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    bottom: 30px;
    transform: translateX(-100%);
   }

#callback p {
    color: #6e3535;
    padding: 22px;
   }
#callback::after {
    content: 'Обратная связь';
    background-color: rgb(92, 32, 13);
    text-align: center;
    border-radius: 0 0 8px 8px;
    padding: 5px 0;
    width: 150px;
    position: absolute;
    left: 300px;
    transform: rotate(-90deg);
    transform-origin:0;
    color: #fff;
   }

#callback:hover {
    transform: translateX(0);
    transition: all 0.7s ease;
   }
   
   #background {
    background-color: #6e3535;
  }